html {
  background-image: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(70, 143, 168) 100%
  );
}
.wrong {
  background-image: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(177, 58, 104) 100%
  );
}
.itsRight {
  background-image: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(86, 194, 90) 100%
  );
}
